#adtNoticias .span6, #adtNoticias .span12 {
	margin-left: 0px !important;
	margin-bottom: 4% !important;
	background-color: #fff !important;
}

#adtNoticias .span6+.span6 {
	margin-left: 2.5641% !important;
	margin-bottom: 4% !important;
}

.events .indicador {
	background-color: #815374 !important;
}

.indicador {
	background-image: url(../images/sprite-icons-01.png) !important;
	background-repeat: no-repeat !important;
	float: left !important;
	position: relative !important;
	top: 5px !important;
	left: 5px !important;
	display: inline-block !important;
	height: 32px !important;
	width: 34px !important;
}

.news .indicador {
	background-color: #da5f60 !important;
}

.icon-noticia {
	background-position: -128px 0px !important;
}

.icon-documento {
	background-position: -97px -1px !important;
}

.icon-solidario {
	background-position: -33px 0px !important;
}

.leyenda.csr, .csr .indicador {
	background-color: #003863 !important;
}

.icon-video {
	background-position: -65px -1px !important;
}

.icon-send {
	background-position: -160px -1px !important;
}

.indicador.new {
	color: #ffffff !important;
	font-size: 16px !important;
	background-image: url(../images/new-01.png) !important;
	background-repeat: no-repeat !important;
	float: right !important;
	position: relative !important;
	top: -18px !important;
	left: 65px !important;
	height: 90px !important;
	width: 180px !important;
	transform: rotate(45deg) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
}

.icon-menu {
	background-image: url(../images/sprite-icons-01.png) !important;
	background-repeat: no-repeat !important;
	height: 35px !important;
	width: 30px !important;
	display: inline-block !important;
	background-position: -3px -33px !important;
	padding: 0px !important;
	vertical-align: middle !important;
}

.panelMenu a, .panelMenu a:hover {
	color: #da5f60 !important;
}

.carousel-controlMenu:hover, .carousel-controlMenu:focus {
	color: #da5f60 !important;
	text-decoration: none !important;
	filter: alpha(opacity = 90) !important;
	outline: 0 !important;
	opacity: .9 !important;
}

.carousel-controlMenu.right {
	right: 5% !important;
	left: auto !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#80000000', GradientType=1) !important;
	background-repeat: repeat-x !important;
}

.carousel-controlMenu {
	position: absolute !important;
	top: 45% !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 15% !important;
	font-size: 20px !important;
	color: #da5f60 !important;
	text-align: center !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !important;
	background-color: rgba(0, 0, 0, 0) !important;
	filter: alpha(opacity = 50) !important;
	opacity: .5 !important;
}

.carousel-controlMenu.left {
	left: 5% !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',
		endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

.icon-negativoMenu {
	background-position: -30px -106px !important;
	width: 25px !important;
	height: 25px !important;
}

.iconMenu {
	background-image: url(../images/sprite-icons-01.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
}

.icon-okMenu {
	background-position: -0px -106px !important;
	width: 25px !important;
	height: 25px !important;
}

#adtNoticias .span6 .marginLeft {
	margin-left: 5% !important;
}

.footer ul li {
	list-style: none;
}

.carousel-controlBannerTop.leftBannerTop {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%,
		rgba(0, 0, 0, .0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%,
		rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)),
		to(rgba(0, 0, 0, .0001)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%,
		rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',
		endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

.carousel-controlBannerTop.rightBannerTop {
	right: 0;
	left: auto !important;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%,
		rgba(0, 0, 0, .5) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%,
		rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)),
		to(rgba(0, 0, 0, .5)));
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%,
		rgba(0, 0, 0, .5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

.carousel-controlBannerTop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff !important;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	background-color: rgba(0, 0, 0, 0);
	filter: alpha(opacity = 50);
	opacity: .5;
}

.carousel-controlBannerTop:hover, .carousel-controlBannerTop:focus {
	color: #fff;
	text-decoration: none;
	filter: alpha(opacity = 90);
	outline: 0;
	opacity: .9;
}

.carousel-controlBannerTop .icon-prev, .carousel-controlBannerTop .icon-next,
	.carousel-controlBannerTop .glyphicon-chevron-left,
	.carousel-controlBannerTop .glyphicon-chevron-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
}

.carousel-controlBannerTop .icon-prev, .carousel-controlBannerTop .glyphicon-chevron-left
	{
	left: 50%;
	margin-left: -10px;
}

.carousel-controlBannerTop .icon-next, .carousel-controlBannerTop .glyphicon-chevron-right
	{
	right: 50%;
	margin-right: -10px;
}

.carousel-controlBannerTop .icon-prev, .carousel-controlBannerTop .icon-next
	{
	width: 20px;
	height: 20px;
	font-family: serif;
	line-height: 1;
}

.carousel-controlBannerTop .icon-prev:before {
	content: '\2039';
}

.carousel-controlBannerTop .icon-next:before {
	content: '\203a';
}

.carousel-indicators.topBanner {
	position: absolute !important;
	bottom: 10px !important;
	left: 78% !important;
	z-index: 15 !important;
	width: 60% !important;
	padding-left: 0 !important;
	margin-left: -30% !important;
	text-align: center !important;
	list-style: none !important;
	top: 88%;
}

.carousel-indicators.topBanner li {
	display: inline-block !important;
	width: 10px !important;
	height: 10px !important;
	margin: 1px !important;
	text-indent: -999px !important;
	cursor: pointer !important;
	background-color: #000\9 !important;
	background-color: rgba(0, 0, 0, 0) !important;
	border: 1px solid #fff !important;
	border-radius: 10px !important;
}

.carousel-indicators.topBanner .active {
	width: 12px !important;
	height: 12px !important;
	margin: 0 !important;
	background-color: #fff !important;
}

.carousel-captionBannerTop {
	position: absolute !important;
	right: 15% !important;
	bottom: 20px !important;
	left: 15% !important;
	z-index: 10 !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	color: #fff !important;
	text-align: center !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !important;
}

.carousel-captionBannerTop . .btn {
	text-shadow: none;
}

.carousel-indicators.topBanner .active {
	background-color: #da5e60 !important;
}

.carousel-indicators.topBanner li {
	background-color: #ddd !important;
}