.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}
.btn-recto {
    border-radius: 0px !important;
    font-size: 12px !important;
}

.aui .row-fluid .span8 {
    width: 66.66666667%;
}
.aui .row-fluid .span4 {
    width: 33.33333333%;
}

.row-col.overLogo{
	overflow: hidden;
}
.btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}
