.modalVideoPers .modal-body{		
    position: relative;
    overflow-y: auto;
    padding: 15px;
    max-height: none;
}
.videoCommunicationJquery{
	width: 1007px;
    margin-bottom: 35px;
    margin-top: 32px;
}
.modalVideoPers{
	margin-left: -28% !important;
	width: 55% !important;
}
