<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navbar"> 
	<span class="sr-only">Toggle navigation</span> 
	<span class="icon-bar"></span> 
	<span class="icon-bar"></span> 
	<span class="icon-bar"></span> 
</button>

<nav class="$nav_css_class navbar-collapse collapse" id="navigation" role="navigation" aria-expanded="false">
	<ul aria-label="#language ("site-pages")" role="menubar" class="nav navbar-nav">
		#foreach ($nav_item in $nav_items)
			#set ($nav_item_attr_has_popup="")
			#set ($nav_item_attr_selected="")
			#set ($nav_item_css_class = "")

			#if ($nav_item.isSelected())
				#set ($nav_item_attr_selected="aria-selected='true'")
				#set ($nav_item_css_class = "selected")
			#end

			<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
				<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem">
					<span>$nav_item.icon() $nav_item.getName()</span>
				</a>
			</li>
		#end
	</ul>
	
	<ul class="nav navbar-nav navbar-right aadd-home">
    	<li><a href="#"><span class="flaticon-interface"></span></a></li>
		<li><a a="" href="#" ><span class="flaticon-music"></span><span class="new-alerts">2</span></a></li>
		<li><a class="aadd aadd-app-magic" href="#"></a></li>
	    <li><a class="aadd aadd-app-host" href="#"></a></li>
	    <li><a class="aadd aadd-app-pegaso" href="#"></a></li>
	    <li><a class="aadd aadd-app-vega" href="#"></a></li>
	    <li><a class="aadd aadd-app-iris" href="#"></a></li>
    </ul>
</nav>