<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	##<script type="text/javascript" src="$javascript_folder/jquery-1.11.3.min.js"></script>##
	<script type="text/javascript" src="$javascript_folder/theme-effects.js"></script>
	<script type="text/javascript" src="$javascript_folder/bootstrap.js"></script>
    
    
	$theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	<div class="contenedor" id="">
		<header id="banner" role="banner">
			<div id="heading" class="header">
				<nav class="navbar navbar-default">
	        		<div class="row-fluid"> 
	        			<a class="navbar-brand" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
	        				<img alt="$logo_description" src="$images_folder/AF_VP_Positiva.png" />
	        			</a> 
						#dockbar()
	        			<div class="box-search">
		        			#set ($VOID = $velocityPortletPreferences.setValue('display-style', '1'))
							#set ($instanceId = 'E3j7')
							#set ($myPortletId = "77_INSTANCE_${instanceId}")$theme.runtime($myPortletId, '', $velocityPortletPreferences.toString())
							#set ($VOID = $velocityPortletPreferences.reset())
						</div>
	        		</div>
	
					<div class="row-fluid menu-principal">
						#if ($has_navigation)
							#parse ("$full_templates_path/navigation.vm")
						#end
						<ul class="nav navbar-nav navbar-right aadd-home">
    	       				<li><a href="#"><span class="flaticon-interface"></span></a></li>
	           				<li><a a="" href="#" ><span class="flaticon-music"></span><span class="new-alerts">2</span></a></li>
							<li><a class="aadd aadd-app-magic" href="#"></a></li>
				            <li><a class="aadd aadd-app-host" href="#"></a></li>
				            <li><a class="aadd aadd-app-pegaso" href="#"></a></li>
				            <li><a class="aadd aadd-app-vega" href="#"></a></li>
				            <li><a class="aadd aadd-app-iris" href="#"></a></li>
            			</ul>
					</div>
				</nav>
			</div>
		</header>
	
		<div id="content" class="content">
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
		
	<div class="push"></div>
	</div>
	<div type="button" class="btn btn-default irarriba oculto"><i class="glyphicon glyphicon-chevron-up"></i></div>
	
	<footer id="footer" role="contentinfo" class="footer">
		<div class="row-fluid">
			<div class="span12">
				#if ($has_navigation)
					#foreach ($nav_item in $nav_items)
					<div class="span2">
						<ul>
						$nav_item.getName()
						#if ($nav_item.hasChildren())
							#foreach ($nav_child in $nav_item.getChildren())
						    	<li>
						    		<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">
						    		$nav_child.getName()
						    		</a>
						    	</li>
							#end
						#end
						</ul>
				    </div>
					#end
				#end
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="divider"></div>
		
		<div class="row-fluid">
			<div class="span9">
				<p class="small">Copyright © 2015 Allfunds Bank S.A., Allfunds Bank is a registered trademark. All rights reserved.</p>
			</div>
			
			<div class="span3">
				<p class="small text-right"><a href="#">Terms & Conditions</a></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</footer>

#else 
<div class="contenedor login">
	<div class="container">
		<div class="card card-container">
			<img class="login-logo zoomIn animated" alt="" src="$images_folder/AF_VP_Positiva.png">
			<div class="cont-log">
				<h4>$company_name</h4>
				<div id="content">
					<div class="">
						$theme.include($content_include)
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>

#end

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<div class="clearfix"></div>
</body>

</html>