/webs/
/app-servers.gradle
/build-common-ivy.xml
/build-common-osgi-plugin.xml
/build-common-plugin.xml
/build-common-plugins-inspector.xml
/build-common-plugins.xml
/build-common.xml
/build-plugins.gradle
/build-themes.gradle
/build.gradle
/build.properties
/build.xml
/ci.properties
/common.bnd
/CONTRIBUTING.markdown
/copyright.txt
/gradle.properties
/ivy-settings-publisher.xml
/ivy-settings.xml
/ivy.xml
/ivy.xml.MD5
/README.markdown
/sdk.gradle
/settings.gradle
/source-formatter.properties
/util.gradle
/versions.gradle
/apps/
/dependencies/
/ext/
/lib/
/misc/
/osgi/
/shared/
/tools/
